
.icon-user:before { content: '\e800'; } /* '' */
.icon-ok-circled:before { content: '\e801'; } /* '' */
.icon-search:before { content: '\e802'; } /* '' */
.icon-down-dir:before { content: '\e803'; } /* '' */
.icon-up-dir:before { content: '\e804'; } /* '' */
.icon-home:before { content: '\e805'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */